@charset "UFT-8";

/*共通部分*/

html {
    font-size: 100%;
}

body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: #432;
    
    background-image: url(shugou2boke.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 200vh;
    background-repeat: no-repeat;

}

.bottom {
    max-width: 900px;
    margin: 0 auto;
}

.main {
    grid-column: 2/4;
    max-width: 900px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
}

a {
    text-decoration: none;
}

a:hover {
    color: #0090aa;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.page-header {
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 2rem 1.5rem;
    background-color: #fff5ad;
    margin-top: 2rem;

}

.page-title {
    font-size: 200%;
}

.contents {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
}

.main-nav {
    margin-bottom: 2rem;
    display: flex;
    justify-content: right;
    gap: 5rem;
    font-size: 1rem;
    list-style: none;
    margin-right: 1.5rem;
}

.footer-nav {
    margin-bottom: 4rem;
    display: flex;
    justify-content: right;
    gap: 5rem;
    font-size: 1rem;
    list-style: none;
    margin-right: 1.5rem;
}

footer {
    padding-top: 2rem;
    margin-top: 0rem;
    background-color: #fff5ad;
}

.copyright {
    text-align: right;
}

.cover-main-img {
    background-image: url(shugouboke.png);
    background-size: cover;
    background-position: center bottom;
    height: 800px;
}

/* レイアウト */
.top {
    grid-column: 1/5;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5rem;
}

.top-img {
    grid-column: 2/4;
    width: 950px;
    height: auto;
}



.top-side {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.information-new {
    background-color: #fff5ad;
    grid-column: 4/4;
    grid-row: 1/1;
    padding-bottom: 17rem;
    list-style: none;
    height: 250px;
    overflow: auto;
}

.icon img {
    width: 55%;
    margin-left: 10rem;
}

.align-center,
.content-title {
    text-align: center;
}

.serch {
    background-color: #fff5ad;
    text-align: left;
}

.content1-title-welcome-1 {
    font-size: 40px;
}

.welcome-text {
    margin-top: 2rem;
}

.content1-text-welcome-1,
.content1-link-prof-1 {
    display: flex;
    justify-content: center;
}

.content1-link-prof-1 {
    margin-top: 1rem;
}

.works-title,
.content2-title-works-1 {
    font-size: 300%;
    padding: .75rem 1.5rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.grid {
    display: grid;
    gap: 2rem 2rem;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    max-width: 1000px;
}

.profile {
    display: grid;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.skill {
    font-size: 70%;
}

.profile-main-txt {
    font-size: 50%;
}

.main-phrase {
    margin-top: 3rem;
    margin-bottom: 9rem;
}

.cotent2-item-works-1 {
    font-size: 180%;
    background-color: #88ffaf;
    padding-top: 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.shadow {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.cotent2-item-works-1:hover {
    background-color: #ffd700;
    box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.5);
}

.content2-frame-works-1,
.content2-frame-big-1 {
    background-color: #fff5ad;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    aspect-ratio: 16 / 9;
}

.cotent2-item-works-1 img {
    width: 30%;
    object-fit: cover;
}

.item-big {
    grid-column: 1/3;
    grid-row: 3/4;
}

/* ボタン */
/*.btn {

}

.btn:hover {
    background-color: #0090aa;
}*/

.cotents2-item-works-1:hover {
    color: #0090aa;
}

.information {
    margin-top: 3rem;
}

.content3-title-information-1 {
    font-size: 300%;
}

.news-list {
    list-style: none;
    padding-left: 0;
    font-family: sans-serif;
}

.news-list li {
    display: flex;
    align-items: baseline;
    margin-bottom: 1em;
}

.news-list time {
    margin-right: 2em;
    flex-shrink: 0;
    color: #333;
}

.news-list a {
    color: #333;
    text-decoration: underline;
    text-decoration-color: #ccc;
    text-underline-offset: 4px;
}

.news-list a:hover {
    text-decoration-color: #007bff;
}

/*works_01*/
.category {
    margin-bottom: 2rem;
}

.main-content img {
    width: 35rem;
    background-color: #73BBA3;
    padding-left: 10rem;
    padding-top: 3rem;
    padding-right: 10rem;
    padding-bottom: 3rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.footer-title {
    padding-left: 3rem;
}

.tag {
    font-size: .8rem;
    display: grid;
    grid-template-columns: repeat(2);
}

.explain,
.tag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.explain-text {
    text-align: left;
    background-color: #88D66C;
    padding: .5rem;
    border-radius: .3rem;
}

.tag-text {
    text-align: right;
    margin-left: 5rem;
}

/**コンテンツ用**/

body {
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    line-height: 1.7;
    color: #432;
    
 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    background-repeat: no-repeat;

}
.status {
    display: grid;
    grid-column: 7/14;
    gap: 0;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    max-width: 1000px;
}

.status-item,.video-title{
    background-color: #88ffaf;
    text-align: center;
}
.status-2-item {
    background-color: #88ffaf;
}

.status-item{
    grid-column: 1/2;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    border: 1px solid #d6d6d6;
    display: flex;
    justify-content: center; /* 左右の中央 */
    align-items: center;     /* 上下の中央 */
}

.video-title {
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.video-player {
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.status-fill {
    grid-column: 2/4;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
}

.status-2-fill {
    background-color: #ffffff;
    padding:auto;
}

.works-information {
    display: grid;
    gap: 20px;
    margin: 0 auto;
    margin-top: 3rem;
    grid-template-columns: repeat(13, 1fr);
    max-width: 880px;
}

.status-2{
    display: grid;
    margin: 0 auto;
    margin-top: 3rem;
    grid-template-columns: repeat(1, 1fr);
    max-width: 880px;
}

.video {
    grid-column: 1/7;
}

.main-c {
    grid-column: 2/4;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 0.1rem;
    padding-bottom: 1rem;
    background-color: rgba(255, 255, 255, 1);
}

